@import "./application/bootstrap/variable";

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "./application/**/*";

html {
  height: 100%;
}

div.row {
  padding-bottom: 100px;
}

body {
  background-color: #f0f0f0;
  height: 100%;
  position: relative;
}

a:hover {
  color: rgb(0, 176, 153) !important;
}
